%h2= "All employees"
%p#notice= notice

.row
  .col-md-12
    .table-responsive
      %table.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th= "ID"
            %th= "Name"
            %th= "Active"
            %th= "Department"
            %th= "Actions"

        %tbody
          - @employees.each do |employee|
            %tr
              %td= employee.id
              %td= employee.name
              %td= employee.active == true ? "Yes" : "No"
              %td= employee.department.name
              %td
                %a= link_to "Edit", edit_employee_registration_path(employee)
                %a= link_to "Delete", employees_path, data: { confirm: "Are you sure" }, method: :delete