= form_for [:admin, @department] do |f|
  .form-group
    = f.label :name
    = f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control'
  .actions
    = link_to 'Back', :back, class: 'btn btn-danger pull-left'
    = f.submit "Create", class: 'btn btn-primary'
